.App {
  display: flex;
  justify-content: center;
}

.navBar{
  display: flex;
  height: 100px;
  width: 600px;
  background-color: gray;
  padding: 20px;
  align-items: center;
  border-radius: 10px;
}
.inputBtn{
  height: 30px;
  width: 100px;
  background-color: lightblue;
  margin-left: 10px;
  border-radius: 10px;

}
.d-flex{
  display: flex;
}
.column{
  flex-direction: column;
}
.margin{
  margin: 15px;
}
